@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import'base/variables';
@import'base/mixins';
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{

    width: 1240px;
    margin: 0 auto;
}

@import"blocks/header";
@import"blocks/mainPage";
@import"blocks/the2021Program";
@import"blocks/aboutPartners";
@import"blocks/selection";
@import"blocks/whyPrarticipate";
@import"blocks/weLookingFor";
@import"blocks/selectionDirections";
@import"blocks/juriesAndMentors";

@import"blocks/documents";
@import"blocks/organizers";

@import"blocks/contacts";