
.partners{
    height: 500px;
    background: #F5F5F5;
    &__title{
        padding-top: 50px;
        font-family: Arial;
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0em;
        color: #0F488B;


    }
}