.scrollUp{
    position: fixed;
    width:60px;
    height:60px;
    border-radius: 100%;    
    background: #9DB0AC;
    z-index: 15;
    visibility: hidden;
    opacity: 0.0;
    top:90%;
    left: 95%;
    transition: all 0.3s;
    &__btn{
        border:none;
        background:none;
        width:60px;
        height:60px;
        border-radius: 100%;  
    }
}
.active{
    visibility: visible;
    opacity: 1;
    display: block;
}